<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>CreateCustomer</title>
</head>
<body>
<h3>Add Blog</h3>
<p>
    <a th:href="@{/}">
        Back to blogs list
    </a>
</p>
<div id="form">
    <form th:action="@{/save}" th:object="${blog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" th:field="*{title}"/>
        </div>
        <div>
            <label for="content">Content</label><br>
            <textarea type="text" id="content" th:field="*{content}" style="width: 100%"></textarea>
        </div>
        <div>
            <label for="publishDate">Address</label>
            <input type="date" id="publishDate" th:field="*{publishDate}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>