<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Book management</title>
</head>
<body>
<h3>Danh sách mượn truyện</h3>
<a class="btn btn-primary" th:href="@{/}">
    Quay lại trang chủ
</a>

<div class="notify">
    <div th:if="${success}">
        <span th:text="${success}"></span>
    </div>
</div>

<table id="customers">
    <thead>
    <tr>
        <th>STT</th>
        <th>Thời gian mượn</th>
        <th>Tên sách</th>
        <th>Tên khách hàng</th>
        <th>Trả</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="br,b : ${listBorrow}">
        <td th:text="${b.count}"></td>
        <td th:text="${df.format(br.getDateTime())}"></td>
        <td th:text="${br.getBookName()}"></td>
        <td th:text="${br.getNameUser()}"></td>
        <td>
            <a type="button" th:attr="onclick=|onDeleteHandler('${br.getId}','${br.getBookName}')|" class="btn btn-danger"
               data-bs-toggle="modal" data-bs-target="#exampleModal">
                Trả
            </a>
        </td>
    </tr>
    </tbody>
</table>
<br>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>-->
            <!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            <!--            </div>-->
            <form action="/book-detail/pay" method="get">
                <div class="modal-body">
                    <input type="hidden" name="action" value="pay">
                    <input type="hidden" name="idPay" id="idPay">
                    Bạn muốn cho trả cuốn sách <span id="namePay"></span>?
                    <label for="randomCode">
                        Nhập mã trả sách:
                    </label><input type="text" id="randomCode" name="randomCode">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Trả</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function onDeleteHandler(id, name) {
        document.getElementById("idPay").value = id;
        document.getElementById("namePay").innerHTML = name;
    }
</script>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>