<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>CreateCustomer</title>
</head>
<body>
<h3>Thêm mới thành phố</h3>
<p>
    <a th:href="@{/}">
        Quay lại
    </a>
</p>
<div id="form">
    <form th:action="@{/create}" th:object="${thanhPho}"
            method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="name">Tên</label>
            <input type="text" id="name" th:field="*{name}"/>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}"></div>
        <select th:field="*{quocGia}">
            <option th:each="qg:${listQuocGia}" th:value="${qg.id}" th:text="${qg.getName()}"></option>
        </select>
        <div>
            <label for="number1">Diện tích</label>
            <input type="number" id="number1" th:field="*{dienTich}"/>
        </div>
        <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{dienTich}"></div>
        <div>
            <label for="number2">Dân số:</label>
            <input type="number" id="number2" th:field="*{danSo}"/>
        </div>
        <div style="color: red"  th:if="${#fields.hasErrors()}" th:errors="*{danSo}"></div>
        <div>
            <label for="number3">GDP:</label>
            <input type="number" id="number3" th:field="*{gdp}"/>
        </div>
        <div style="color: red"  th:if="${#fields.hasErrors()}" th:errors="*{gdp}"></div>
        <div>
            <label for="name1">Giới thiệu:</label>
            <textarea type="text" id="name1" th:field="*{moTa}"></textarea>
        </div>
        <div style="color: red"  th:if="${#fields.hasErrors()}" th:errors="*{moTa}"></div>
        <input type="submit" value="Thêm mới"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>