<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Thêm mới sản phẩm</h3>
<p>
    <a th:href="@{/product}">Quay lại danh sách sản phẩm</a>
</p>
<div id="form">
    <form th:action="@{/product/save}" th:object="${product}" method="post" novalidate="novalidate">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="name">Tên sản phẩm:</label><input type="text" id="name" th:field="*{name}">
        </div>
        <div>
            <label for="price">Giá sản phẩm:</label><input type="text" id="price" th:field="*{price}">
        </div>
        <div>
            <label for="describee">Mô tả sản phẩm:</label><input type="text" id="describee" th:field="*{describee}">
        </div>
        <div>
            <label for="producer">Nhà sản xuất:</label><input type="text" id="producer" th:field="*{producer}">
        </div>
        <input type="submit" value="Thêm">
    </form>
</div>
<div th:replace="/layout::footer"></div>
</body>
</html>