<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Các sản phẩm bạn cần tìm</h3>
<p>
    <a th:href="@{/product}">
        Quay lại trang chủ
    </a>
</p>
<table id="products">
    <thead>
    <tr>
        <td>STT</td>
        <td>Tên sản phẩm</td>
        <td>Giá sản phẩm</td>
        <td>Mô tả</td>
        <td>Nhà sản xuất</td>
        <td>Sửa</td>
        <td>Xóa</td>
        <td>Chi tiết</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row,rowStat : ${products}">
        <td th:text="${rowStat.count}"></td>
        <td th:text="${row.getName()}"></td>
        <td th:text="${row.getPrice()}"></td>
        <td th:text="${row.getDescribee()}"></td>
        <td th:text="${row.getProducer()}"></td>
        <td><a th:href="@{/product/{id}/edit(id=${row.getId()})}">Sửa</a></td>
        <td><a th:href="@{/product/{id}/remove(id=${row.getId()})}">Xóa</a></td>
        <td><a th:href="@{/product/{id}/detail(id=${row.getId()})}">Chi tiết</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout::footer"></footer>
</body>
</html>